<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <style>
        .cubes{
            width: 7rem;
            height: 7rem;
        }

        .distance{
            height: 10rem;
        }
    </style>

</head>
<body>

  <div id="app" class="container">
    <div class="row distance">
        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber1"></div>   
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber2"></div>  
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber3"></div>  
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber4"></div>  
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber5"></div>  
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber6"></div>  
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber7"></div>  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber1}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber2}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber3}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber4}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber5}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber6}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber7}}</span>
        </div>
        
    </div>

    <div class="row distance">
        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber8"></div>
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber9"></div>
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber10"></div>
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber11"></div>
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber12"></div>
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber13"></div>
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-end">
            <div class="cubes">
                <div class="cubes border border-secondary" :style="'background:' + '#' + cubeColorNumber14"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber8}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber9}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber10}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber11}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber12}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber13}}</span>
        </div>

        <div class="col d-flex justify-content-center">
            <span>#{{this.cubeColorNumber14}}</span>
        </div>
        
    </div>
<br>
    <button class="btn btn-warning" @click="colorCube1">Clilck to cahnge colors</button>

</div>

<script src="node_modules/vue/dist/vue.global.js"></script>

<script>
    Vue.createApp({
        data(){
            return{
                cubeColorNumber1: 0,
                cubeColorNumber2: 0,
                cubeColorNumber3: 0,
                cubeColorNumber4: 0,
                cubeColorNumber5: 0,
                cubeColorNumber6: 0,
                cubeColorNumber7: 0,
                cubeColorNumber8: 0,
                cubeColorNumber9: 0,
                cubeColorNumber10: 0,
                cubeColorNumber11: 0,
                cubeColorNumber12: 0,
                cubeColorNumber13: 0,
                cubeColorNumber14: 0
            }
        },

        methods:{
            colorCube1:function(){
                this.cubeColorNumber1= Math.floor(Math.random()*16777215).toString(16);
                console.log(this.cubeColorNumbe1);   
                          
            }
        },
        created(){
            this.cubeColorNumber1= Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber2 = Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber3= Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber4 = Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber5= Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber6 = Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber7 = Math.floor(Math.random()*16777215).toString(16); 
            this.cubeColorNumber8= Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber9 = Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber10= Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber11 = Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber12= Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber13 = Math.floor(Math.random()*16777215).toString(16);
            this.cubeColorNumber14 = Math.floor(Math.random()*16777215).toString(16);          
        },
        watch:{
            cubeColorNumber1: function(cubeColorNumber1){
                    this.cubeColorNumber2 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber3 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber4 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber5 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber6 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber7 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber8 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber9 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber10 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber11 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber12 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber13 = Math.floor(Math.random()*16777215).toString(16);
                    this.cubeColorNumber14 = Math.floor(Math.random()*16777215).toString(16);
                }
            },
        
    }).mount("#app")

</script>

</body>
</html>